*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    
}

#header {
    position: relative;
    width: 100%;
    height: 56px;
    background-color: #EE0033;
}

.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    display: flex;
    border-radius: 20px;

    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

.txt-search {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* width: 25%; */
    width: 100%;
    border-radius: 20px 0 0 20px;
    padding:10px 0 8px 10px;
    outline: none;
    border: 1px solid white;

}

.txt-search::placeholder {
    margin-top: 10px;
    font-size: 15px;
}

.btnSearch{
    width: 40px;
    padding:10px 0 8px 10px;
    border-radius:0 20px 20px 0;

    background-color: white;
    
}

.btnSearch:hover{
    cursor: pointer;
    color: #EE0033;
}

.cart {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);

    padding:8px 10px 8px 10px;
    border-radius: 20px;

    background-color: white;
    color: red;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

.cart:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);

}

.cart p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media(min-width: 740px){
    .cart{
        right: 5%;
    }
}