* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f8fd;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  position: relative;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  /* padding-left: 1px;
    padding-right: 1px; */
}

.col-product {
  float: left;
}

.col-3 {
  width: 33.333333%;
}
.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.w-77p {
  width: 77%;
}

.mt-10 {
  margin-top: 10px;
}
.mt-16 {
  margin-top: 16px;
}
.btnSearch {
  width: 40px;
  padding: 10px 0 8px 10px;
  border-radius: 0 20px 20px 0;

  background: transparent;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}

.border {
  border: 1px solid rgba(167, 165, 165, 0.4);
}

.bs-02 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.txt-18 {
  font-size: 18px;
}
.txt-20 {
  font-size: 20px;
}
.txt-24 {
  font-size: 24px;
}

.text-danger {
  color: red;
}

@media only screen and (max-width: 1023px) {
  .col-5 {
    width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  
  .w-77p {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .col-5 {
    width: 25%;
  }
  .w-77p {
    width: 92%;
  }
}
@media only screen and (max-width: 576px) {
  .col-5 {
    width: 33.33333%;
  }
  .w-77p {
    width: 95%;
  }
}
@media only screen and (max-width: 414px) {
  .col-5 {
    width: 50%;
  }
  .w-77p {
    width: 100%;
  }
}
